
.row-flex {
  display: flex;
  flex-wrap: wrap;
}

/* vertical spacing between columns */
[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}


/* Demo backgrounds and styling*/

.color-1 {
  background: -webkit-linear-gradient(to bottom, #31BDE6, rgb(56, 56, 56));
  background: linear-gradient(to bottom, rgb(116, 116, 117), rgb(46, 46, 46));

}

.color-2 {
  background: -webkit-linear-gradient(to bottom, #31BDE6, #00003E);
  background: linear-gradient(to bottom, rgba(62, 202, 97, 0.719), rgb(24, 83, 24));
}

.color-3 {
  background: -webkit-linear-gradient(to bottom, #31BDE6, rgb(37, 37, 114));
  background: linear-gradient(to bottom, rgba(104, 104, 167, 0.658), rgb(27, 27, 75));
}

.color-4 {
  background: -webkit-linear-gradient(to bottom, #31BDE6, #00003E);
  background: linear-gradient(to bottom, rgb(240, 195, 136), rgb(235, 165, 14));
}

.color-5 {
  background: -webkit-linear-gradient(to bottom, #31BDE6, #00003E);
  background: linear-gradient(to bottom, #31BDE6, #00003E);
  /*background: rgb(156, 55, 55);*/
}

.color-6 {
  background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255), #343a40);
  background: linear-gradient(to bottom, rgba(111, 245, 245, 0.795), #0cb9b1);
}


html, body{
  margin:0px;
  padding:0px;
  font-family: Roboto, sans-serif;
}

.content h3 {
  margin-top: 0px;
  font-weight: 300;
}

/*h1 {
  font-weight: 300;
  margin-bottom: 40px;
}*/

/* FLIP CARD CSS */


.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(110, 238, 71);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(110, 238, 71);
  color: white;
  transform: rotateY(180deg);
}



 /* FOOTER */
.footer {
    /*position: fixed;*/
 
    height: 10%;
 
    bottom: 0;
 
    color:#fff;
 
    padding-top:1%;
    padding-bottom: 1%;
 
    width: 100%;
 
    background: #343a40;
 /*
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E); 
 
    background: linear-gradient(to right, #31BDE6, #00003E);*/
 
    text-align:center; 
}

.custom-dark{
  color:#fff;

  background: -webkit-linear-gradient(to right, #31BDE6, #00003E); 
 
  background: linear-gradient(to right, #31BDE6, #00003E);
}

.parallax { 
  /* The image used */
  background-image: url("../images/webbg.jpg");
  
  /* Set a specific height */
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax { 
  /* The image used */
  background-image: url("../images/webbg.jpg");

  /* Set a specific height */
  height: 100%; 
  width:100%;
 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}

#caption{
  padding-top:1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:16pt;
  background-color:white;
  margin-left: 150px;
  margin-right:150px;
  border-color:black;
  border-style:solid;
  border-width:10px;
}
#subtitle {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration-color: rgb(255, 255, 255);
 
  font-size:26pt;
} 