/* Author: Gavin Inglis
Created Summer 2018, Updated semi-frequently*/

@media (max-width: 699px){
    #caption{
        padding-top:1%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:10pt;
        background-color:white;
        margin-left: 10%;
        margin-right:10%;
        border-color:black;
        border-style:solid;
        border-width:10px;
    }  
}

@media all{


body, html {
    height: 100%;
    margin:0;
    background-color: white;
    height:100%;
    width:100%; 
    background-repeat: no-repeat;
}

h1 {
    color: rgb(2, 2, 2);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    
}


a:link{
    color:rgb(0, 0, 0);
    text-decoration: none;
    overflow: hidden;
    width: 10px;
}

a:visited{
    color:rgb(0, 0, 0);
    display: none;
}
a:hover{
    text-decoration-style: unset;
    opacity: .6;
}

#headlinks {
    text-align: center;
    font-family:  'Lucida Sans Unicode',   sans-serif;
    font-size:24pt;
    border: 5px solid black;
    padding-bottom:1%;
    padding-top:1%; 
    width:100%;
    background-color:rgb(125, 147, 168) ;
}

#subtitle {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: overline;
    text-decoration-style: inherit; 
    font-size:36pt;
} 

.parallax { 
    /* The image used */
    background-image: url("../images/webbg.jpg");
    
    /* Set a specific height */
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax { 
    /* The image used */
    /*background-image: url("webbg.jpg");*/

    /* Set a specific height */
    height: 100%; 
    width:100%;
   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.parallax2 { 
    /* The image used */
    background-image: url("ginglisbg.jpg");
    padding:0;
    /* Set a specific height */
    height:100%;
    width:100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#caption{
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:16pt;
    background-color:white;
    margin-left: 10%;
    margin-right:10%;
    border-color:black;
    border-style:solid;
    border-width:10px;
}





.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:35%;
    height: auto;
    float: left;
    text-align: center;
    opacity:0;
}

.copyright{
    text-align:center;
    font-size: 10pt;
    background-color:gray;
    background-size:cover;
    color: lightgrey
}
}