body, html {
    height: 100%;
    margin:0;
}
h1{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    background-color: powderblue;
    padding:40px;
    padding-bottom: 15px;
}
a:link{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 50px;
    padding-left:50px;
    
}
a:visited{
    color:black;
}
a:hover{
    text-decoration: underline;
}
#headlinks {
    text-align: center;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid black;
    padding:10px;
    position:fixed;
    width:100%;
    padding-top:25px;
    height:15px;
    background-color:rgb(161, 187, 202);
}
#contact {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border:100px;
    background-color: lightsteelblue;

}