body, html {
    height: 100%;
    margin:0;
    background-color: white;
    height:100%;
    width:100%; 
    background-repeat: no-repeat;
    max-width:1290px;
}
.bg { 

    background-image: url(ginglisbackground.jpeg);


    height: 100%; 


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:black;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h4 {line-height: 10%}
a:link{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    
}
a:visited{
    color:black;
}
a:hover{
    text-decoration: underline;
}
#headlinks {
    text-align: center;
    font-family:  'Lucida Sans Unicode',   sans-serif;
    font-size:24pt;
    border: 5px solid black;
    padding-bottom:20px;
    margin-right:-15px;
    padding-top:15px;
    width:100%;
    background-color:rgb(125, 147, 168) ;
}

.parallax { 
    /* The image used */
    background-image: url("workbg.jpg");

    /* Set a specific height */
    height:2000px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description{
    margin-right: 10%;
    margin-left: 10%;
    border-color: black;
    border-style: solid;
    border-width:5px;
    background-color:white;
    padding:10px;
    opacity:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18pt;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:50px;
    padding-top:50px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 20px;
}